aiogram==2.20
aiohttp==3.8.1
aiosignal==1.2.0
appdirs==1.4.3
APScheduler==3.6.3
apt-clone==0.2.1
apturl==0.5.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asciinema==2.0.2
astroid==2.11.2
asttokens==2.0.5
async-generator==1.10
async-timeout==4.0.2
attrs==21.4.0
autopep8==1.6.0
Babel==2.9.1
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.8.2
bleach==4.1.0
blessed==1.19.1
blinker==1.4
Brlapi==0.7.0
bs4==0.0.1
bump2version==1.0.1
bumpversion==0.6.0
cachetools==4.2.2
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.3
coloredlogs==15.0.1
command-not-found==0.3
configobj==5.0.6
coverage==6.3.2
cryptography==2.8
cupshelpers==1.0
dblatex===0.3.11py3
dbus-python==1.2.16
debugpy==1.5.1
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
dill==0.3.4
distlib==0.3.4
distro==1.4.0
dparse==0.5.1
entrypoints==0.3
exceptiongroup==1.0.0rc9
execnet==1.9.0
executing==0.8.3
fake-useragent==0.1.11
filelock==3.7.1
Flask==2.1.2
frozenlist==1.3.0
grpcio==1.16.1
h11==0.14.0
httplib2==0.14.0
humanfriendly==10.0
idna==2.8
ifaddr==0.1.6
importlib-metadata==4.11.4
importlib-resources==5.4.0
iniconfig==1.1.1
inquirer==2.9.2
ipykernel==6.9.2
ipython==8.1.1
ipython-genutils==0.2.0
ipywidgets==7.7.0
isort==5.10.1
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.0.3
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.3
jupyter-core==4.9.2
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.1.0
keyboard==0.13.5
keyring==18.0.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.7.1
louis==3.12.0
lxml==4.6.3
macaroonbakery==1.3.1
Mako==1.1.0
MarkupSafe==2.1.1
matplotlib-inline==0.1.3
mccabe==0.7.0
mistune==0.8.4
more-itertools==4.2.0
multidict==6.0.2
nbclient==0.5.13
nbconvert==6.4.4
nbformat==5.2.0
nemo-emblems==4.6.0
nest-asyncio==1.5.4
netaddr==0.7.19
netifaces==0.10.4
nose==1.3.7
notebook==6.4.10
oauthlib==3.1.0
onboard==1.4.1
outcome==1.2.0
packaging==20.3
PAM==0.4.2
pandocfilters==1.5.0
parso==0.8.3
pep8==1.7.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==7.0.0
platformdirs==2.5.2
pluggy==1.0.0
prettytable==3.2.0
progressbar==2.5
prometheus-client==0.13.1
prompt-toolkit==1.0.14
protobuf==3.6.1
psutil==5.5.1
ptyprocess==0.5.1
pure-eval==0.2.2
py==1.11.0
pycairo==1.16.2
pycodestyle==2.8.0
pycparser==2.21
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.2
Pygments==2.11.2
PyGObject==3.36.0
PyICU==2.4.2
pyinotify==0.9.6
PyInquirer==1.0.3
PyJWT==2.4.0
pylint==2.13.5
pymacaroons==0.13.0
PyNaCl==1.3.0
pypandoc==1.7.5
pyparsing==2.4.6
pyparted==3.11.2
pyperclip==1.8.2
pyRFC3339==1.1
pyrsistent==0.18.1
PySocks==1.7.1
pytest==7.1.1
pytest-cov==3.0.0
pytest-forked==1.4.0
pytest-html==3.1.1
pytest-metadata==2.0.1
pytest-xdist==2.5.0
python-apt==2.0.0+ubuntu0.20.4.7
python-dateutil==2.8.2
python-debian===0.1.36ubuntu1
python-editor==1.0.4
python-telegram-bot==13.11
python-xapp==2.0.1
python-xlib==0.23
pytz==2019.3
pytz-deprecation-shim==0.1.0.post0
pyxattr==0.6.1
pyxdg==0.26
PyYAML==5.3.1
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==2.0.1
ranger-fm==1.9.3
readchar==3.0.5
regex==2022.3.15
reportlab==3.5.34
requests==2.28.1
requests-unixsocket==0.2.0
safety==1.10.3
SecretStorage==2.3.1
selenium==4.4.3
Send2Trash==1.8.0
sendsms==0.2.0
setproctitle==1.1.10
simplejson==3.16.0
six==1.14.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==1.9.5
stack-data==0.2.0
systemd-python==234
terminado==0.13.3
testfixtures==6.18.5
testpath==0.6.0
tinycss2==1.0.2
toml==0.10.2
tomli==2.0.1
tornado==6.1
traitlets==5.1.1
trio==0.22.0
trio-websocket==0.9.2
twilio==7.9.2
typing-extensions==4.2.0
tzdata==2022.1
tzlocal==4.2
ubuntu-advantage-tools==27.9
ubuntu-drivers-common==0.0.0
ufw==0.36
Unidecode==1.1.1
urllib3==1.26.12
virtualenv==20.14.1
wadllib==1.3.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.1.2
widgetsnbextension==3.6.0
wrapt==1.14.0
wsproto==1.2.0
xkit==0.0.0
xonsh==0.11.0
yarl==1.7.2
youtube-dl==2021.4.26
zeroconf==0.24.4
zipp==3.7.0
